html {
    font-family: sans-serif;
}

.container {
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
}

table {
    width: 100%;
    border-spacing: 0;
}

th, td {
    border: 1px solid gray;
    padding: 8px 6px;
}

th {
    text-align: start;
    background-color: gainsboro;
}

.imgItem {
    text-align: center;
}

.root {
    position: relative;
    left: -100px;
}

.footer {
    display: flex;
    background-color: whitesmoke;
}

.footer div {
    margin-top: 16px;
}

.search-sort {
    display: flex;
    justify-content: space-between;
}

.input-search {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 7px 20px;
    padding-left: 34px;
    margin-bottom: 25px;
    width: 300px;
    border-radius: 3px;
    font-size: 16px;
    transition: all 0.15s ease-in-out;
    outline: none;
}

.icon {
    /*width: 22px;*/
    height: 22px;
    opacity: 0.3;
    position: relative;
    left: 26px;
    top: 7px;
}

.clearIcon {
    cursor: pointer;
    height: 18px;
    opacity: .3;
    position: relative;
    right: 24px;
    top: 5px;
    /*width: 18px;*/
}

.clearIcon:hover {
    opacity: 0.8;
}

.footer ul {
    display: flex;
    list-style-type: none;
}

li {
    margin-right: 12px;
}

.previous, .next {
    padding: 0 5px;
    border: 1px solid gray;
    background-color: gainsboro;
    border-radius: 6px;
    cursor: pointer;
}

.disabled {
    color: gray;
}

.selected  {
    font-weight: bold;
    text-decoration: none!important;
    color: #000!important;
}

.footer ul li:not(:first-child):not(:last-child) {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.sort__popup {
    position: absolute;
    margin-top: 10px;
    background: #ffffff;
    box-shadow: 0 5px 15px rgb(0 0 0 / 9%);
    overflow: hidden;
    width: 160px;
}

.sort__row {
    cursor: pointer;
}

.sort__popup ul {
    color: #000 !important;
    cursor: pointer;
    list-style-type: none;
    padding-left: 12px;
}

@media (max-width: 768px) {
    input {
        width: 150px!important;
    }

    .icon , .clearIcon {
        width: 12px;
    }
}